.metro .normal-text {
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.metro .fg-href ,
.metro .fg-link {
  color: #777 !important;
}
.metro .fg-link:hover{
  color: #07C !important;
}
.metro .fg-nafee{
  color: #17afee !important;
 }
 .metro .fg-hover-nafee:hover{
  color: #17afee !important;
 }
 .metro .fg-sea{
  color: #07C !important;
 }
 .metro .bg-sea{
  background-color: #07C !important;
 }
 .metro .fg-hover-sea:hover{
  color: #07C !important;
 }
 .metro .fg-ash{
	color:#aaa !important;
 }
 .metro .bg-seashore{
	background-color:#ddf !important;
 }
 .metro .hoversadh:hover {
  outline: #00aff0 solid 1px !important;;
}
.metro .phsadh{
	height:2.5rem;
	font-size:1.5rem !important;
	padding: 2px 10px 2px !important;
}
.nomargintop{
	margin-top:0 !important;
	margin-bottom:0 !important;
}
.text-ul{
text-decoration: underline;
}
.metro p [data-hint] {
border-bottom:none !important;
}
.metro .device-only{
display:none;
}
.hint {
background-color:#ffe !important;
}
.autoh8{
height:auto !important;
}
.showbox{
	padding:6px 12px !important;
	cursor:default !important;
}
.proj-icon {
	float:left;
	margin: 4px 6px 4px 0;
}
.proj-title, .proj-title small{
  font-family: 'Cambria_', 'PT Serif Caption', Verdana, Arial, Helvetica, sans-serif !important;
}
.proj-title{
  display:block !important;
  font-size: 2.2rem !important;
  font-weight: normal !important;
}
.proj-tagline{
  font-family: Garamond;
  font-style: italic;
  display:block !important;
  font-size: 1.35rem !important;
  font-weight: lighter !important;
}
.proj-org{
  font-size: 1.25rem !important;
}
.proj-since,.proj-until{
  font-size: 1.2rem !important;
}
.proj-links{
  text-align:right;
  margin:8px 0 0 6px;
  padding-top:2px;
  border-top:1px solid #f8f8f8;
  display:block !important;
  font-size: 1.25rem !important;
}
.proj-links i {
  color:#999 !important;
  font-size: 1.45rem !important;
}
.metro .element-divider{
}
.metro .navigation-bar .element-menu  a.dropdown-toggle{
	padding-right:19px!important;
}
.metro small {
  font-size:80%;
}
/*
.disp-block{
display:block;
}
.disp-block:before,
.disp-block:after {
  display: table;
  content: "";
}
.disp-block:after {
  clear: both;
}

.spaxq{
  width: 23.404252% !important;
  min-width:120px;
  float: left;
  min-height: 1px;
  margin-left: 2.127659%;
}
.spaxq:first-child {
  margin-left: 0;
}*/
