.avatar-border {
  border:3px solid #17afee;
}

.nowrap {
  white-space: nowrap;
}

.lax-padded{
  padding-top: 8em;
  padding-bottom: 8em;
}

.popover .popover-content{
  max-width: 256px;
}

hr.half-extended {
  margin-left: -50%; margin-right: 65%;
}

.stitch {
  border-top: white 1px dashed;
}