<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>nafSadh-khan</title>

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">-->
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">


  <link rel="stylesheet" href="css/bulma-carousel.min.css">
  <link rel="stylesheet" href="css/bulma-ribbon.min.css">
  <link rel="stylesheet" href="css/bulma-divider.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- tiny slide -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.6/tiny-slider.css">
  <!--[if (lt IE 9)]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.6/min/tiny-slider.helper.ie8.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bg.css">

</head>
<body class="bg-silver-white has-navbar-fixed-top">
<main id="skybeam">
  <!-- COVER -->
  <section class="hero is-fullheight bg-pattern">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters">

            <figure class="image is-128x128">
              <img class="is-rounded avatar-border"
                   src="http://www.gravatar.com/avatar/b3fd795f62899ea17a66ebb4e8bddbd8?s=512&d=mm&r=g">
            </figure>
            <h1 class="title is-1 is-large">nafSadh</h1>
            <h3 class="subtitle is-4">
              <code style="color: #17afee" title="a.k.a.">&gt;_</code>
              <strong>Khan MNM Sadh</strong>
            </h3>
            <br/><br/>
            <p class="rich-text is-size-5">I study theory and applications of computing sciences
              and work as
              a <span class="is-size-3-desktop is-size-4-touch nowrap">software engineer</span>.
              I also
              <span class="is-size-4 nowrap"><i
                  class="fas fa-pen-nib fa-xs"></i>&thinsp;write</span>,
              make <span class="is-size-4 nowrap"><i class="fas fa-palette fa-xs"></i>&thinsp;graphic arts</span>,
              take <span class="is-size-4 nowrap"><i
                  class="fas fa-camera-retro fa-xs"></i>&thinsp;photos</span> and
              <span class="is-size-3-desktop is-size-4-touch nowrap"><i class="fas fa-laptop-code fa-xs"></i>&thinsp;build things</span>.
            </p>
            <br/><br/><br/><br/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ABOUT -->
  <section class="section bg-endless-constellation stitched" id="about">
    <div class="container lux-pad-8">
      <div class="columns is-centered">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters bg-white-sky glass">
          <div class="content is-medium has-text-justified">
            <h1 class="title is-size-2 has-text-weight-light">about</h1>
            <hr class="half-extended bg-silver-light"/>
            <p>
              Born and raised in
              <a href="https://en.wikipedia.org/wiki/Bangladesh"
                 data-tippy="
                    <img src='https://upload.wikimedia.org/wikipedia/commons/f/f9/Flag_of_Bangladesh.svg' width='128px'>
                    <br/>
                    <b>Bangladesh</b>, to the east of India on the Bay of Bengal, is a South Asian country marked by lush
                    greenery and many waterways.">Bangladesh</a>,
              trained in computer science at
              <a href="http://www.kuet.ac.bd/department/CSE/" data-tippy="
                    <img src='https://upload.wikimedia.org/wikipedia/en/thumb/7/74/Logo_KUET.svg/283px-Logo_KUET.svg.png' width='48px'><br/>
                    <b>Khulna University of Engineering &amp; Technology</b><br/>
                    B.Sc. (Engineering)<br/>
                    Computer Science and Engineering<br/>
                    <i class='fas fa-map-marker-alt'></i> Khulna, Bangladesh">KUET</a>
              and
              <a href="https://www.cs.stonybrook.edu/students/Graduate-Studies/MSProgram" data-tippy="
                    <img
                        src='https://upload.wikimedia.org/wikipedia/en/thumb/b/be/Stonybrook_logo.svg/360px-Stonybrook_logo.svg.png'
                        width='180px'><br/>
                    <b>Stony Brook University</b><br/>
                    MS in Computer Science<br/>
                    <i class='fas fa-map-marker-alt'></i> Stony Brook, New York, USA">Stony Brook</a>,
              I work as a software engineer; now at
              <a class="popover-trigger" href="https://TCIcredit.com" data-tippy="
                    <img src='http://nafsadh.com/img/tci.png' width='96px'/><br/>
                    <strong>Teledata Communications, Inc.</strong><br/>
                    Decision Lender - Loan Origination Solutions<br/>
                   <i class='fas fa-map-marker-alt'></i> Islandia, NY, USA">TCI</a>
              and previously at
              <a class="popover-trigger" href="https://research.samsung.com/srbd" data-tippy="
                    <img src='https://upload.wikimedia.org/wikipedia/commons/2/24/Samsung_Logo.svg' width='96px'/><br/>
                    <strong>Samsung R&D Institute Bangladesh</strong><br/>
                    A research hub of Samsung Electronics<br/>
                   <i class='fas fa-map-marker-alt'></i> Dhaka, Bangladesh">Samsung</a>.
              I live with my lovely wife
              <a href="http://sampreeti.com">Sampreeti</a>
              in
              <a class="popover-trigger" href="https://en.wikipedia.org/wiki/New_York_metropolitan_area" data-tippy="
                    <img src='https://upload.wikimedia.org/wikipedia/commons/d/d5/I_Love_New_York.svg' width='72px'>
                    <br/>I live in Mineola, within the New York metro area.">New York</a>.
            </p>
            <p>
              I have been involved with several <a href="http://projects.nafSadh.com">projects</a>.
              Some of their sources are in <a href="https://github.com/nafSadh">GitHub</a>. I have explored wide
              range of development stacks including systems, applications, data and web technologies. I dream of
              building a knowledge system that can learn and reason. My other interests include intelligent systems,
              logic, linguistics, and epistemology.
            </p>
            <p>
              I post weblogs on <a href="https://ins.nafsadh.com/">inside the insight</a>.
              I share my Bengali writings on <a href="https://sadhubochon.wordpress.com/">Sadhubôchôn</a>
              and <a href="http://sulol.nafsadh.com/">Sulol Songroho</a>.
              I am also involved as editor and publisher at Bengali literary community
              <a href="http://lekhalikhi.com">Lekhalikhi</a>.
              I love to play with colors, draw pictures and make graphic artworks; you can browse them on my
              <a href="http://arts.nafsadh.com">arts portfolio</a>. I use a Bengali keyboard lay-out named
              <a href="http://nafsadh.com/sonnivo/">Sonnivo</a> which happened to be designed by me.
            </p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters bg-white glass">
          <div class="content is-medium has-text-justified">
              <span class="is-size-4">
                  <a href="http://nafSadh.com/bio">bio</a> /
                  <a href="http://re.sadh.me">resume</a> /
                  <a href="timeline.html">timeline</a>
                </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- WORDS -->
  <section class="section stitched bg-diamond-sunset" id="words">
    <div class="container lux-pad-4">
      <div class="columns is-centered fuse-bottom">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-not-paddingless glass fuse-bottom">
          <h1 class="title is-size-2 has-text-weight-light">writings</h1>
          <hr class="half-extended bg-silver glassy"/>
        </div>
      </div>
      <div class="columns is-centered fuse-top">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-paddingless glass fuse-top">
          <!-- ins -->
          <div class="card bg-white-sky has-ribbon">
            <div class="ribbon is-light is-hidden-mobile">blog</div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../img/ins.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">inside the insight</p>
                  <p class="subtitle is-6">
                    <a href="https://ins.nafSadh.com">ins.nafSadh.com</a>
                  </p>
                </div>
              </div>
              <div class="content">
                <p>
                  My webposts. This includes thoughts on computer science stuff, quick solution to random software
                  development problems, code samples and other scribbles.
                </p>
                <p>
                  Also on <i class="fab fa-medium"></i> <a href="https://medium.com/nafsadh">Medium</a>.
                </p>
              </div>
            </div>
          </div>
          <!-- sulol -->
          <div class="card bg-white-sky">
            <div class="card-content  has-ribbon">
              <div class="ribbon is-light is-hidden-mobile">Bengali</div>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48 ">
                    <img class="is-rounded" src="../../img/nafSadh-kite.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">সুলল সংগ্রহ
                    <small class="has-text-weight-light">/Sulol Songroho/</small>
                  </p>
                  <p class="subtitle is-6">
                    <a href="https://sulol.nafSadh.com">sulol.nafSadh.com</a>
                  </p>
                </div>
              </div>
              <div class="content">
                <p>
                  My Bengali literary works.
                </p>
              </div>
            </div>
          </div>
          <!-- sadhubochon -->
          <div class="card bg-white-sky has-ribbon">
            <div class="ribbon is-light is-hidden-mobile">Bengali</div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../img/sadhubochon.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">
                    সাধুবচন
                    <small class="has-text-weight-light">/Sadhubôchôn/</small>
                  </p>
                  <p class="subtitle is-6">
                    <a href="https://sadhubochon.wordpress.com">sadhubochon.wordpress.com</a>
                  </p>
                </div>
              </div>
              <div class="content">
                <p>
                  Prose, personal thoughts, opinion pieces and satirical articles in classical Bengali writing style,
                  <a href="https://en.wikipedia.org/wiki/Shadhu-bhasha">Shadhu-bhasha</a>.
                </p>
              </div>
            </div>
          </div>
          <!-- NOTES -->
          <div class="card bg-white-sky has-ribbon">
            <div class="ribbon is-light is-hidden-mobile">notes</div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../img/notes-by-nafsadh.svg">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Notes by nafSadh</p>
                  <p class="subtitle is-6">
                    <a href="https://notes.nafSadh.com">notes.nafSadh.com</a>
                  </p>
                </div>
              </div>
              <div class="content">
                <p>
                  Notes scribed in markdown as living documents; hosted on GitHub.
                </p>
              </div>
            </div>
          </div>
          <!-- LekhaLikhi.com -->
          <div class="card bg-white-sky has-ribbon">
            <div class="ribbon is-light is-hidden-mobile">
              <small>publication</small>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../img/lekhalikhi.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">
                    লেখালিখি
                    <small class="has-text-weight-light">/lekhalikhi/</small>
                  </p>
                  <p class="subtitle is-6">
                    <a href="http://lekhalikhi.com/nafsadh/">lekhalikhi.com/nafsadh/</a>
                  </p>
                </div>
              </div>
              <div class="content">
                <p>
                  Lekhalikhi is a Bengali literary community. I am part of its editorial board and publisher.
                  I am also an author on it.
                </p>
              </div>
            </div>
          </div>
          <!-- writing elsewhere -->
          <div class="card bg-white-sky ">
            <header class="card-header">
              <p class="card-header-title">
                Elsewhere
              </p>
            </header>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-24x24">
                    <img src="../../img/medium.png">
                  </figure>
                </div>
                <div class="media-content">
                  <span class="has-text-weight-semibold">Medium</span> <a href="http://medium.com/@nafsadh"
                                                                          target="_blank">stories</a>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-24x24">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Wikipedia-logo-v2-no-text.svg">
                  </figure>
                </div>
                <div class="media-content">
                  <span class="has-text-weight-semibold">Wikipedia</span> <a
                    href="https://en.wikipedia.org/wiki/Special:Contributions/Nafsadh" target="_blank">contributions</a>
                </div>
              </div>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-24x24">
                    <img src="../../img/quora.svg" style="padding:4px">
                  </figure>
                </div>
                <div class="media-content">
                  <span class="has-text-weight-semibold">Quora</span> <a
                    href="https://www.quora.com/profile/Khan-Sadh-Mostafa" target="_blank">answers</a>
                </div>
              </div>
            </div>
          </div>
          <!-- writings.fin -->
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- -->
  <!-- ART & Paintings -->
  <!-- ^^^^^^^^^^^^^^^ -->
  <section class="section stitched">
    <div class="container lux-pad-4">
      <div class="columns is-centered fuse-bottom">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-not-paddingless glass fuse-bottom">
          <h1 class="title is-size-2 has-text-weight-light ">art + painting</h1>
          <hr class="half-extended bg-silver glassy"/>
        </div>
      </div>
      <div class="columns is-centered fuse-top">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-paddingless glass fuse-top">
          <div class="card bg-white-sky">
            <div class='carousel carousel-animated carousel-animate-slide' data-autoplay='true' data-delay='5000'>
              <div class='carousel-container'>
                <div class='carousel-item has-background is-active'>
                  <img class="is-background is-16by9" src="../../img/art/minar.jpg"/>
                </div>
                <div class='carousel-item has-background is-active'>
                  <img class="is-background is-16by9" src="../../img/art/nafSadh-art.jpg"/>
                </div>
                <div class='carousel-item has-background is-active'>
                  <img class="is-background is-16by9" src="../../img/art/bornomala.jpg"/>
                </div>
                <div class='carousel-item has-background is-active'>
                  <img class="is-background is-16by9" src="../../img/art/sweet-home.jpg"/>
                </div>
              </div>
              <div class="carousel-navigation is-overlay">
                <div class="carousel-nav-left">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="card-content has-text-centered">
              <p class="subtitle is-4">visit</p>
              <p class="title is-2 has-text-weight-light">
                <a class="is-size-2" href="http://nafSadh.art">nafSadh.art</a>
              </p>
            </div>
            <div class="card-content has-text-centered">
              <div class="is-divider bg-sky-blue-light" data-content="also on"></div>
              <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-narrow has-text-centered">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/DeviantArt_Logo.svg" width="128px"
                       style="padding: 8px 0">
                  <p><a href="https://www.deviantart.com/nafsadh">DeviantArt</a></p>
                </div>
                <div class="column is-narrow has-text-centered side-pad-2">
                  <img src="../../img/behance-logo.png" width="48px">
                  <p><a href="https://www.behance.net/nafSadh">Bēhance</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-white-sky">
            <div class="card-content">
              <div class="level">
                <div class="level-left">
                  <figure class="level-item image is-32x32">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Commons-logo.svg">
                  </figure>
                  <span class="level-item">
                    <div>Creative Commons and Public Domain releases on&nbsp;<a href="https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/Nafsadh" target="_blank">Wikimedia Commons</a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ---------- -->
  <!-- PHOTOGRAPH -->
  <!-- ^^^^^^^^^^ -->
  <section class="stitched bg-silver-light lux-pad-4">
    <div class="section fuse-bottom">
      <div class="container">
        <div class="columns is-centered slight-pad-1">
          <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-not-paddingless glass">
            <h1 class="title is-size-2 has-text-weight-light ">photographs</h1>
            <hr class="half-extended bg-silver glassy"/>
          </div>
        </div>
      </div>
    </div>
    <div class="hero fuse-top fuse-bottom">
      <div class="autoWidth-lazyload" id="autoWidth-lazyload"
           style="height:240px; min-height: 240px; max-height: 240px;">
        <div class="item"><img class="tns-img" src="../../img/photos/princeton-lib-wall.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/color-lamps.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/red_house.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/leaf-macro.jpg" width="360"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/dandelion.jpg" width="360"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/tulip-central.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/sky-reflect.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/empire-state-building-fog.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/shrimp-dish.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/hudson-sunset.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/an-american-highway.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/brooklyn-pub-lib.jpg" width="178"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/manhattan-sunset.jpg" width="180"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/coffee-cup.jpg" width="320"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/grand-central-chandelier.jpg" width="180"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/snow-grid.jpg" width="360"></div>
        <div class="item"><img class="tns-img" src="../../img/photos/sliver-of-a-river.jpg" width="180"></div>
      </div>
    </div>
    <div class="section fuse-top">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-not-paddingless glass">
            <div class="columns is-mobile is-multiline slight-pad-1">
              <div class="column is-narrow" style="padding-right: 20px">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/240px-Instagram_logo_2016.svg.png"
                    width="36px">
                <p><a href="https://instagram.com/nafsadh/">Instagram</a></p>
              </div>
              <div class="column is-narrow">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Flickr_wordmark.svg" width="72px"
                     style="padding: 12px 0 2px 0">
                <p><a href="https://www.flickr.com/photos/sadh/">Flickr</a></p>
              </div>
              <div class="column is-narrow">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/500px_logo_2016.svg" width="68px"
                     style="padding: 16px 0 0 0">
                <p><a href="https://500px.com/nafsadh">500px</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- -->
  <!-- WORK + PROJECTS -->
  <!-- ^^^^^^^^^^^^^^^ -->
  <section class="section stitched">
    <div class="container">
      <div class="columns is-centered fuse-bottom">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-not-paddingless glass fuse-bottom">
          <h1 class="title is-size-2 has-text-weight-light">projects</h1>
          <hr class="half-extended bg-silver glassy"/>
        </div>
      </div>
      <div class="columns is-centered fuse-top">
        <div class="column is-half-fullhd is-two-thirds-widescreen is-three-quarters is-paddingless glass fuse-top">
          <div v-for="proj in projects" class="card bg-white-sky">
            <div class="card-content">
              <div class="media fuse-bottom">
                <div class="media-left">
                  <figure class="image is-48x48 is-centered" v-if="proj.span!='tiny' && proj.span!='sub'">
                    <img :src="proj.icon">
                  </figure>
                  <figure class="image is-32x32" v-if="proj.span=='tiny' || proj.span=='sub'" style="margin: 8px;">
                    <img :src="proj.icon">
                  </figure>
                </div>
                <div class="media-content">
                  <h3 class="title is-4 fuse-bottom">
                    {{ proj.title }}
                  </h3>
                  <h4 v-if="proj.subtitle" class="subtitle is-6 fuse-bottom fuse-top" v-html="proj.subtitle"></h4>
                  <div class="is-6 slight-pad-top-0" v-if="proj.span!='tiny' && proj.span!='small'">
                    <small class="tag is-light"><i class="far fa-calendar-alt fg-silver"></i>&nbsp;{{proj.period}}</small>
                    <small v-if="proj.org_work" class="tag is-light"><i class="fas fa-briefcase fg-silver"></i>&nbsp;{{proj.org_work}}</small>
                    <small v-if="proj.school" class="tag is-light"><i class="fas fa-graduation-cap fg-silver"></i>&nbsp;{{proj.school}}</small>
                    <small v-if="proj.org_open" class="tag is-light"><i class="fas fa-door-open fg-silver"></i>&nbsp;{{proj.org_open}}</small>
                    <small v-if="proj.collab" class="tag is-light"><i class="fas fa-hands-helping fg-silver"></i>&nbsp; with {{proj.collab}}</small>
                    <small v-if="proj.guide" class="tag is-light"><i class="fas fa-brain fg-silver"></i>&nbsp; <small></small>{{proj.guide}}</small>
                  </div>
                </div>
                <div class="media-right">
                  <a v-if="proj.url" :href="proj.url" target="_blank">
                    <i class="fas fa-link"></i>
                    <br/>
                   </a>
                  <a v-if="proj.gh" :href="proj.gh" target="_blank">
                    <i class="fab fa-github"></i>
                    <br/>
                  </a>
                  <a v-if="proj.github" :href="'https://github.com/'+proj.github" target="_blank">
                    <i class="fab fa-github"></i>
                    <br/>
                  </a>
                </div>
              </div>
              <div v-if="proj.description" class="columns">
                <div class="column-narrow is-hidden-mobile">
                  <figure class="image is-48x48 right-gap-1" ></figure>
                </div>
                <div class="column">
                  <div v-html="proj.description" class="has-text-justified fg-ink"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<nav class="navbar is-fixed-top" style="box-shadow: 0 0 3px #ccc" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand ">
      <a class="navbar-item is-size-4">
        <img src="../../img/nafsadh.png" style="padding-right: 4px">
        <span>nafSadh</span>
      </a>
    </div>
    <div class="navbar-start">
    </div>
  </div>
</nav>
<footer class="footer bg-silver-white" style="box-shadow: 0 0 3px #ccc">
  <div class="container has-text-centered">
    nafSadh &copy; 2010~2018, Khan 'Sadh' Mostafa<br/>
    <small>
      Made with <i class="fas fa-heart"></i> + <i class="fab fa-vuejs"></i> on <i class="fab fa-github"></i>
    </small>
  </div>
</footer>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/vue-truncate-collapsed"></script>

<script src="js/bulma-carousel.min.js"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.6/min/tiny-slider.js"></script>


<script>
  var projects = [
    {
      "period": "2018",
      "span": "tiny",
      "type": "pet",
      "title": "lang-lang",
      "subtitle": "an incomplete list of programming languages",
      "url":"https://lang-lang.github.io/lang-lang/",
      "gh": "https://github.com/lang-lang/lang-lang",
      "icon":"img/lang-lang.svg",
    },
    {
      "period": "2018",
      "span": "tiny",
      "type": "pet",
      "title": "hello-lang",
      "subtitle": "Hello World! in different languages",
      "url":"https://github.com/hello-lang",
      "gh": "https://github.com/hello-lang",
      "icon":"img/hello-lang-2.svg",
    },
    {
      "period": "2018",
      "span": "tiny",
      "type": "pet",
      "org_open": "Sfaar",
      "title": "Pogolytics",
      "subtitle": "Analysis tool for Pokémon GO",
      "url":"https://nafsadh.github.io/pogolytics/",
      "gh": "https://github.com/nafsadh/pogolytics",
      "icon":"img/pogolytics.svg",
    },
    {
      "period": "Mar 2017 - ",
      "span": "mid",
      "type": "pet",
      "org_open": "Liby.cat",
      "title": "Liby.cat",
      "subtitle": "<i>catalog</i> your library",
      "url":"http://dev.liby.cat/",
      "gh": "https://github.com/liby-cat/liby-cat",
      "description": "Liby the cat, lives in your library, keeps a catalog",
      "icon":"img/liby.cat.svg",
      "tech": ["Node JS", "Angular JS", "LoopBack", "MongoDB"]
    },
    {
      "period": "2016",
      "span": "tiny",
      "type": "tool",
      "title": "bootstrap-print-alike",
      "subtitle": "CSS to make your bootstrap print alike",
      "github": "nafsadh/bootstrap-print-alike",
      "icon":"img/comn48.png",
    },
    {
      "period": "Oct 2015 - ",
      "span": "long",
      "type": "job",
      "org_work": "Teledata Communications, Inc.",
      "title": "Decision Lender 4",
      "subtitle": "Loan Origination Software Solution",
      "url":"https://tcicredit.com/editions/",
      "description": "End to end configurable SaaS catering to lenders for originating (receiving apps, automated decisioning and funding) vehicle, retail and personal finance products. Areas I focus on include collaterals, vehicle valuation services, ACH payment process, reporting framework etc.",
      "long_description": "Decision Lender 4 is the flagship SaaS product offered by [TCI](https://tcicredit.com).  This is a Loan Origination Software (LOS) solution for US lenders, banks and credit unions.  It is end to end configurable, capable of meeting different client needs and can cater to vehicle lending (cars, boats, RVs), retail, personal finance and accounts opening.  For the lifecycle of loan origin process it can pull and analyze credit reports, make automated decisions and interact with different third party systems. <br/><br/> Areas I focus on include collaterals, vehicle valuation services, ACH payment process, reporting framework etc."
      ,
      "icon":"img/tci.png",
      "tech": ["Java", "MS SQL", "Angular JS"]
    },
    {
      "title": "Decision Lender 3.5",
      "description":
        "Decision Lender 3.5 is a now legacy LOS solution that TCI used to offer and now maintains for legacy clients <br/> I was responsible for adding and enhancing feature required to on-board clients.",
      "url":"https://www.decisionlender.com/DecisionLender35/includes/support/DL35Dealer.pdf",
      "tech": ["Java", "MS SQL"],
      "span": "long",
      "type": "job",
      "icon":"img/tci.png",
      "org_work": "Teledata Communications, Inc.",
      "period": "Feb-Oct 2015"
    },
    {
      "title": "TuneTour.me",
      "subtitle": "follow touring artists and plan stays",
      "url":"http://TuneTour.me",
      "github":"nafSadh/TuneTour.me",
      "span": "hackathon",
      "type": "hackathon",
      "icon":"img/tt.png",
      "collab": "Amitav Paul & M Ruhul Amin",
      "period": "Oct 2014"
    },
    {
      "title": "Lekhalikhi",
      "subtitle": "Bengali literary platform",
      "url":"http://lekhalikhi.com",
      "span": "cont",
      "type": "platform",
      "icon":"img/lekhalikhi.png",
      "org_open": "Lipighor",
      "period": "2014",
      "description":"Online platform for Bengali writers to practice and publish their literary works, poems and prose."
    },
    {
      "title": "scire",
      "subtitle": "Sadh's C++ Impromptu Routines Ensemble",
      "url":"http://nafsadh.github.io/scire/doc/",
      "github":"nafSadh/scire",
      "span": "small",
      "type": "pet",
      "icon":"img/scire.png",
      "period": "2014-"
    },
    {
      "title": "bnXlit",
      "subtitle": "Bengali Romanization Tool",
      "url":"http://nafsadh.github.io/bnXlit/",
      "github":"nafSadh/bnXlit",
      "span": "tiny",
      "type": "pet",
      "icon":"img/bnXlit.png",
      "period": "2014"
    },
    {
      "title": "bnIPA",
      "subtitle": "Utility for using IPA with Bengali",
      "url":"http://nafsadh.github.io/bnIPA/",
      "github":"nafSadh/bnIPA",
      "span": "tiny",
      "type": "pet",
      "icon":"img/bnIPA.png",
      "period": "2014"
    },
    {
      "title": "ishika",
      "subtitle": "watercolor paint tool in OpenGL",
      "github":"nafSadh/ishika",
      "span": "mid",
      "type": "grad",
      "school":"Stony Brook Univ",
      "icon":"img/comn48.png",
      "period": "2014"
    },
    {
      "title": "SoC verification platform",
      "description": "Platform for verifying camera and image processing SoC design. " +
          "Designed a host-target interaction protocol, chalked architecture for the platform (Linux on ARM) and developed a dynamic GUI for verification control from host computer.",
      "tech": ["C", "C++", "C#", "Linux", "WPF"],
      "nolink": true,
      "span": "long",
      "type": "job",
      "org_work": "Samsung R&D Institute Bangladesh",
      "icon":"img/samsung-disk.png",
      "period": "Jan 2012-Aug 2013"
    },
    {
      "title": "Camera SoC",
      "subtitle":"Camera SoC verification and device driver development",
      "description": "R&D project at Samsung with DMC R&D (Suwon, Korea). Carried on engineering sample chip verification and prepared drivers.",
      "tech": ["μC/OS-II", "C"],
      "nolink": true,
      "span": "long",
      "type": "job",
      "org_work": "Samsung R&D Institute Bangladesh",
      "icon":"img/samsung-disk.png",
      "period": "2011"
    },
    {
      "title": "WaqtScope",
      "subtitle": "Muslim prayer times calculator",
      "span": "cont",
      "org_open": "Sfaar",
      "icon":"img/waqtscope.png",
      "period": "2011",
      "url":"http://app.nafsadh.com/waqtscope/",
      "github":"WaqtScope"
    },
    {
      "title": "DSP Software Development",
      "subtitle":"μC/OS-II, BSP, DVB-S, Image codec, Web-P",
      "description": "As part of exploratory research in areas of digital signal processing at Samsung, ported μC/OS-II to custom targets, worked on DVB-S codec, ported Web-P to re-configurable processors and developed a new image codec.",
      "nolink": true,
      "span": "long",
      "type": "job",
      "org_work": "Samsung R&D Institute Bangladesh",
      "icon":"img/samsung-disk.png",
      "period": "2010-2011"
    },
    {
      "title": "Phone Development",
      "subtitle": "Samsung's feature phones and bada phones",
      "nolink": true,
      "span": "mid",
      "type": "job",
      "org_work": "Samsung R&D Institute Bangladesh",
      "icon":"img/samsung-disk.png",
      "period": "2010"
    },
    {
      "title": "Sonnivo",
      "subtitle": "Bengali keyboard layout",
      "span": "cont",
      "type": "pet",
      "org_open": "Lipighor",
      "icon":"img/sonnivo.png",
      "period": "2010",
      "url":"http://lipighor.github.io/Sonnivo/",
      "github":"Lipighor/Sonnivo"
    },
    {
      "title": "RS2-fx",
      "subtitle": "RDF by Structured Reference to Semantics",
      "description": "<i>An approach to emerge Semantic Web</i><br/> We suggested a framework (RS2-fx) to convert current html web documents into Semantic Web RDF documents by extracting senses in them backed by support of an existing ontology",
      "span": "long",
      "type": "thesis",
      "collab": "Q. Ratul & S.H. Sourav",
      "guide": "Dr. R. Shams",
      "school": "KUET",
      "icon":"img/rs2-fx.png",
      "period": "2009-2010",
      "url":"https://www.slideshare.net/nafSadh/rs2-fx-the-first-presentation"
    },
    {
      "title": "NLParse",
      "subtitle": "generic parser for natural languages",
      "desc": "Natural Language parse engine, which can parse text of a language for which a grammar and a dictionary is provided using XML files",
      "span": "sub",
      "github":"nafSadh/NLParse",
      "type": "ug-proj",
      "collab": "Q. Ratul, SH Sourav, N Hasnat, SA Parvez",
      "school": "KUET",
      "icon":"img/nlparse.png",
      "period": "2009"
    },
    {
      "title": "Traffic Window",
      "subtitle": "Traffic jam detection system",
      "description": "An automated traffic jam recognition and alert aided with image processing",
      "span": "long",
      "url":"http://www.slideshare.net/nafSadh/traffic-jam-detection-system-by-ratul-sadh-shams",
      "type": "ug-proj",
      "collab": "Q. Ratul",
      "guide": "Dr. R. Shams",
      "school": "KUET",
      "icon":"img/trafficjam.png",
      "period": "2008"
    },
    {
      "title": "LikhonPad",
      "subtitle": "Transliteration tool",
      "span": "tiny",
      "type": "pet",
      "icon":"img/likhonpad.png",
      "period": "2007-08",
      "github":"nafSadh/LikhonPad"
    },
    {
      "title": "Intelligent Home",
      "subtitle": "Smart home solution",
      "description": "centrally controlled local system of devices and sensors, actuates smartly upon perceptions",
      "span": "long",
      "type": "ug-proj",
      "collab": "Q. Ratul, S.B. Srijon & M.I. Rizel",
      "guide": "Prof MMA Hashem",
      "school": "KUET",
      "icon":"img/intelome.png",
      "period": "2007"
    },
    {
      "title": "Bytex",
      "subtitle": "Windows hex-(file)-reader",
      "span": "tiny",
      "type": "pet",
      "icon":"img/comn48.png",
      "period": "2007",
      "github":"Sfaar/Bytex"
    },
    {
      "title": "Kakatuya",
      "subtitle": "text narrator tool",
      "span": "tiny",
      "url" : "https://sourceforge.net/projects/kakatuya/",
      "type": "pet",
      "icon":"img/kakatuya.png",
      "period": "2007",
      "github":"nafSadh/Kakatuya"
    }
  ];

</script>
<script>
  new Vue({
    el: '#skybeam',
    data: {
      projects: projects
    },
    components: {
    }
  });

  tns({
    container: '#autoWidth-lazyload',
    loop: true,
    autoWidth: true,
    items: 17,
    slideBy: 1.25,
    mouseDrag: true,
    autoplayHoverPause: true,
    autoplay: true,
    speed: 400,
    autoplayTimeout: 2000,
    arrowKeys: true,
    nav: false,
    controls: false,
    swipeAngle: false,
    autoplayButtonOutput: false,
    autoplayResetOnVisibility: false
  });

  bulmaCarousel.attach();

  tippy.setDefaults({
    arrow: true,
    arrowType: 'round',
    duration: 0,
    theme: 'skybee',
    placement: 'left-start'
  })
</script>
</body>
</html>